@page
@model timeZoneApp.Pages.Regions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Region</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.offset)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.offset)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.offsetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.offsetType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.mostRecentDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.mostRecentDateTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Region.RegionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
